{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block img %}

{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <main class="col-md-8 mb-5" role="main">
            <div class="jumbotron">
                <h1>Track your learning</h1>
            </div>
            <div class="card">
                <div class="lead card-body">
                    <div class="mb-3">
                        <h5 class="lead"><a href="{% url 'account_signup' %}">Register an account</a> to make your own <a href="{% url 'logs:log_topic_list' %}">learning log</a>, and list the topics you are learning about.</h3>
                    </div>
                    <div>
                        <h5 class="lead">Whenever you learn something new about a topic, make an entry summarizing what you've learned. Enjoy!</h3>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
</div>
{% endblock %}
